/* *{
    margin: 0;
    padding: 0;
} */

:root {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  background-color: rgb(39, 36, 36);
}

.latest_course {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.latest_course .title {
  /*近期課程*/
  color: white;
  font-size: 25px;
}

.latest_course .group {
  /*三塊模板*/
  margin: 0px auto 50px auto;
  display: flex;
}

.latest_course .group .item {
  /* 單一模板 */
  width: 370px;
  color: rgb(139, 135, 135);
  background-color: white;
  margin: 0px 15px;
  border-radius: 10px;
  overflow: hidden;
}

.latest_course .group .item .item_img {
  width: 100%;
  margin-bottom: 8px;
  /* border-top-right-radius: 10px;
      border-top-left-radius: 10px;  
      這兩行也可以用在父層overflow: hidden來取代*/
}

.latest_course .group .item .date {
  /*2022 / 7 月班*/
  display: inline-block;
  font-size: 12px;
  margin-left: 16px;
  width: fit-content;
  border: 1px solid lightgrey;
  padding: 3px;
  border-radius: 5px;
}

.instructor_level {
  /*instructor+level*/
  font-size: 12px;
  margin: 8px 16px;
  border-top: 1px solid lightgrey;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.instructor_level .instructor {
  /*講師*/
  display: flex;
  align-items: center;
}

svg {
  /*icon*/
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.instructor_level .level {
  /*課程*/
  display: flex;
  align-items: center;
}

.level .c1 {
  color: rgb(54, 166, 231);
}
.level .c2 {
  color: salmon;
}
.level .c3 {
  color: rgba(27, 215, 215, 0.71);
}

.more_courses {
  /*看更多課程*/
  display: flex;
  justify-content: center;
}

.more_courses a {
  /*看更多課程裡面的超連結*/
  text-decoration: none;
  color: white;
  background-color: red;
  width: fit-content;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 5px;
}
